# .dockerignore

# 忽略 node_modules 資料夾
node_modules

# 忽略 npm 產生的日誌檔
log
npm-debug.log
npm-debug.log.*
yarn-error.log
yarn-debug.log

# 忽略 Git 儲存庫本身
.git
.gitignore
.gitattributes

# 忽略 Docker 相關檔案
.dockerignore
Dockerfile

# 忽略作業系統產生的檔案
.DS_Store
Thumbs.db

# 忽略 IDE 和編輯器設定
.idea
.vscode
*.sublime-workspace
*.sublime-project

# 忽略環境變數檔案 (非常重要！避免機密外洩)
.env
.env.*
*.env


# token
USERID
LINE_MESSAGE_API_TOKEN

# custom
local-implement.bat